page-user-details {

	.myphoto {
		img {
		height: 15vh !important;
		width: auto !important;
		align-items: center;
		margin-left: auto;
    	margin-right: auto;
    	display: block;
		border-radius: 95px;
		}
	}
}
